<div class="container">
    <div class="row mt-2 d-flex justify-content-center mb-2">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand texto" href="#">Biblioteca</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false"
                    aria-label="Alterna navegação">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                    <ul class="navbar-nav mr-auto" id="conteudoNavbar">
                        <li class="nav-item active">
                            <a class="nav-link texto" [routerLink]="'/home'">Home <span class="sr-only">(página
                                    atual)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link texto" [routerLink]="'/login'">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link texto" [routerLink]="'/logout'">Logout</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class=" texto nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item texto" [routerLink]="'/catalogo'">catálogo</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar"
                            aria-label="Pesquisar">
                        <button class=" texto btn btn-outline-secondary my-2 my-sm-0" type="submit">Pesquisar</button>
                    </form>
                </div>
            </nav>

        </div>
    </div>
</div>